<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

<ifModule mod_headers.c>
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|js|css|txt|webp|ttf|woff|eot)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
</IfModule>

<ifModule mod_expires.c>
    ExpiresActive On

    ExpiresDefault "access plus 5 seconds"

    ExpiresByType image/x-icon "access plus 2592000 seconds"
    ExpiresByType image/jpeg "access plus 2592000 seconds"
    ExpiresByType image/png "access plus 2592000 seconds"
    ExpiresByType image/gif "access plus 2592000 seconds"
    ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
    ExpiresByType text/css "access plus 2592000 seconds"
    ExpiresByType text/javascript "access plus 2592000 seconds"
    ExpiresByType application/javascript "access plus 2592000 seconds"
    ExpiresByType application/x-javascript "access plus 2592000 seconds"
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>

RewriteEngine On
RewriteBase /

# Перенаправление всех запросов на index.html
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

